/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

/* Header */
header {
    background-color: #FF5722;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

/* Botões de navegação */
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #00BCD4;
    color: white;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0097A7;
}

/* Seções */
.section {
    display: none;
}

.section#convidados {
    display: block;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    margin: 0 12px;
    width: 220px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

footer {
    background-color: #FF5722;
    color: white;
    text-align: center;
    padding: 12px 0;
    margin-top: 40px;
}
